{% extends 'base.html' %}

{% include 'nav.html' %}

{% block title %} Stockton Esports Statistical Software {% endblock %}

{% block body %}

<div class="container">

    <!-- Start of Jumbotron -->
    <div class="jumbotron" id="home-jumbo">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 text-left">
                <div class="modal-content text-center">
                    <h1 class="text-light">Meet the Creators</h1>
                    <p class="text-dark">Riot Server Inhouse Team Balancing Assistant</p>
                </div>
                <br>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
    <!-- End of Jumbotron -->

    <div class="modal-content" id="qa-border">
        <h4 class="text-left text-light about-us-header-text">Erick
            Garcia-Vargas</h4>
        <ul>
            <li><strong>Major</strong>: Computer Science</li>
            <li><strong>Minor</strong>: Mathematics</li>
            <li><strong>Computer Science Background</strong>: "As I advanced through my education, I found myself
                fascinated
                with computer science and mathematics. I enjoyed the abstract process of solving problems and situations
                that computer science offered through mediums of mathematics and programming. Additionally, I am part of
                the
                very few that considers math not only fun but exciting to solve these abstract problems. These are a few
                of
                the reasons as to why I chose this degree."
            </li>
            <li><strong>Career aspirations/goals</strong>: "Going forward I will continue working towards completing
                Master’s Degree, implement AI & machine learning concepts in esports programs/software. Once I am
                proficient
                enough with the required software and concepts, I will apply them to the medical field and their API's
                and
                EMR's. Main company that I want to work at is EPIC (Healthcare company not gaming company) or RIOT
                Games."
            </li>
        </ul>
        </h4>

        <h4 class="text-left text-light about-us-header-text">Eric Einhaus</h4>
        <ul>
            <li><strong>Major</strong>: Computer Science and Information Systems</li>
            <li><strong>Minor</strong>: Mathematics</li>
            <li><strong>Computer Science Background</strong>: "I began coding in High School with learning basic HTML,
                CSS,
                and Python in two of my programming classes. I continued my knowledge by majoring in Computer Science at
                Stockton University and learning core Computer Science concepts as well as learning new languages and
                frameworks."
            </li>
            <li><strong>Career aspirations/goals</strong>: "I want to eventually have a career in Front-End web
                development.
                I was one of the Front-End developers for this application for the ESports Program and enjoyed the
                process
                along the way. This project was definately helpful in learning a new framework (Python Flask) and
                boosting
                my skills in HTML, CSS, and Python."
            </li>
        </ul>
        </h4>

        <h4 class="text-left text-light about-us-header-text">Kayla Brawley</h4>
        <ul>
            <li><strong>Major</strong>: Criminal Justice</li>
            <li><strong>Minor</strong>: Computer Science</li>
            <li><strong>Computer Science Background</strong>: "I took Programming and Problem Solving I in freshman year
                of
                college because I enjoy playing video games in my free time and thought it may be fun to learn about the
                inner mechanisms of games. I really enjoyed the class so I continued onto Programming and Problem
                Solving
                II. I then added a minor in computer science to my degree and have continued in computer science classes
                since"
            </li>
            <li><strong>Career aspirations/goals</strong>: "With my major being criminal justice and my minor as
                computer
                science I've considered going into cyber security. Cyber security would allow me to exercise the skills
                I
                have learned from both my major and my minor."
            </li>
        </ul>
        </h4>

        <h4 class="text-left text-light about-us-header-text">Raymond Madden</h4>
        <ul>
            <li><strong>Major</strong>: Computer Science</li>
            <li><strong>Minor</strong>: None</li>
            <li><strong>Computer Science Background</strong>: "In high school I took a programming tracked called AOIT
                or
                Academy Of info technology, this progressed me to get an internship through the school during the summer
                of
                2016 in their tech department."
            </li>
            <li><strong>Career aspirations/goals</strong>: "My dream job would be working in informational technology at
                Lego Land in New York City."
            </li>

        </ul>
        </h4>

        <h4 class="text-left text-light about-us-header-text">Tahir Hanjra</h4>
        <ul>
            <li><strong>Major</strong>: Computer Science</li>
            <li><strong>Minor</strong>: None</li>
            <li><strong>Computer Science Background</strong>: "Computer Science was something I picked as there going to
                be
                a huge need of programmers in the future, I began to enjoy the subject when I took my Data Structures
                Class,
                it reminded me of solving puzzles and new challenges."
            </li>
            <li><strong>Career aspirations/goals</strong>: "I would like to become a Data Analyst/ Computer Programmer
                in
                the future."
            </li>
        </ul>
        </h4>
        </ul>
    </div>
</div>


{% endblock %}