{% extends 'base.html' %}
{% include 'header.html' %}
{% block title %} Forgot Username {% endblock %}

{% block body %}
<div class="container">
    <div class="modal-dialog text-center">
        <div class="col-md-12 blue-section-margins">
            <div class="modal-content">
                <div class="col-12 esportslogo">
                    <img src="static/imgs/esportslogo.jpg">
                </div>
                <form class="col-12" action="{{ url_for('usernameforgot') }}" method="post">

                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    {% for msg in messages %}
                    <div class="alert alert-warning alert-dismissable" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="close"
                                style="width: 10%; margin: 0;">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <p class="text-left">{{ msg }}</p>
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                    <h4><u>Please Enter Your Email Registered with your Account:</u></h4><br>
                    <div class="form-group">
                        <i class="fas fa-envelope icons fa-2x"></i><input type="text" class="form-control" id="email"
                                                                          name="email" placeholder="Enter Email Here">
                    </div>
                    <button type="submit" class="btn btn-white"><i class="fas fa-sign-in-alt"></i> Send Username Reset
                        Link
                    </button>
                    <div class="form-group">
                        <a href="{{ url_for('adminlogin') }}" class="link-pink"><p>Back to Sign In Page</p></a>
                    </div>
                    <div class="form-group">
                        <a href="{{ url_for('usernamereset') }}" class="link-pink"><p>Reset Username</p></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}